---
title: "Read Values other than NaN as NaN"
author: "Charles"
date: 2020-09-11
description: "-"
type: technical_note
draft: false
---

**Not all null values have NaN in them some may have other substitutes like '_' or '?' To mitigate that we have na_values in read_csv**

In [1]:
import pandas as pd

In [2]:
d = {'id':[0, 1, 2], 'Name':['Ben', 'Max', '?']}
df = pd.DataFrame(d)
df.head()

   id Name
0   0  Ben
1   1  Max
2   2    ?

In [3]:
df.isnull().sum().any()

False

'?' is interpreted as not a null value here

In [4]:
df.to_csv('test.csv')

In [5]:
df_real = pd.read_csv('test.csv', na_values=['?']) # Reads '?' as NaN value
df_real.head()

   Unnamed: 0  id Name
0           0   0  Ben
1           1   1  Max
2           2   2  NaN

In [6]:
df_real.isnull().sum().any()

True